<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.myapp.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.myapp.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myapp.activity.BrMainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.myapp.activity.YsMainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.myapp.activity.YishengListActivity"
            android:label="@string/title_activity_book" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.RegActivity"
            android:label="@string/title_activity_reg" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.LoginActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.YishengDetailActivity"
            android:label="@string/title_activity_goodsdetail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.GoodsListActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.BoardListActivity"
            android:label="@string/pinglunguanli" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.BoardAddActivity"
            android:label="@string/pinglunguanli" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.BoardListActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.UserInfoActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.BrYuyueListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.YsYuyueListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.YsMainActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.BrYuyueDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.YuyueListActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.YsZhengduanAddActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.YuyueDetailActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.YsYuyueDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.YuyueListActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.YaopingListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.YsMainActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.XuanzeYaopingListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.YsZhengduanAddActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.XuanzeYaopingDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.XuanzeYaopingListActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.YsYuyuelishiListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.YuyuelishiDetailActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.YsYuyuelishiDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.YsMainActivity" />
        </activity>
        <activity
            android:name="com.myapp.activity.YsUserInfoActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myapp.activity.YsMainActivity" />
        </activity>
    </application>

</manifest>